<html>
<body>
<h1>Welcome to the EMC VDI Calculator</h1>

<p>This calculator attempts to estimate the EMC storage needed for VMware View, Citrix PVS and MCS environments. It is based on the math
from this <a href=http://www.emc.com/collateral/software/white-papers/h11096-vdi-sizing-wp.pdf>whitepaper.</a>
<br>

<%= @capReq %>

 </p>
 </body>
 </html>