<html>
<head>
<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>VNX VDI Calculator</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="row" width=50>
  <div class="panel"><h1>Welcome to the EMC VNX VDI Calculator*</h1>
  <p>*Not official sanctioned by EMC, I did this in my spare time. If you have questions please send me a message <a href="http://twitter.com/jon_2vcps">@jon_2vcps</a>. The <a href="https://github.com/2vcps/vdi-calc">source is on github</a> Please Fork me! 

<p>This calculator attempts to estimate the EMC storage needed for VMware View, Citrix PVS and MCS environments. It is based on the math
from this <a href=http://www.emc.com/collateral/software/white-papers/h11096-vdi-sizing-wp.pdf>whitepaper.</a> 
Remember this is just an estimation and real world experience can never be replaced. Use the as a guide in order to get started.
<br>
<h1>Enter Your VDI Sizing Information</h1>
<form method="get" action="/calc_home">
VDI Type:<br /><select name="vditype">
  <option value="VMware View">VMware Horizon View</option>
  <option value="Citrix PVS">Citrix PVS</option>
  <option value="Citrix MCS">Citrix MCS</option>
</select><br /> 
Number of Desktops <input type="text" name="nDesktops" value="10">
Steady State IO/s / User <input type="text" name="ioSteady" value="10">
Average RAM / Desktop (GB) <input type="text" name="avgRam" value="2">
Concurrent Users (%) - percentage of users that are on at once. <input type="text" name="conCurr">
Max Size Linked Clones/Write Cache Files (GB) <input type="number" name="maxLC" value="10">
Memory Reservation (%) - Memory Reservation / Desktop. <input type="number" name="memRes" value="50">
Storage Protocol <br /><select name="storProto">
	<option value="NFS">NFS</option>
	<option value="FC">Block (FC/iSCSI/FCoE)</option>
	</select>
<br>User data / User (GB) <input type="number" name="userData" value="10">
Additional Application Storage (GB) - non-vdi related disks for VM's <input type="number" name="addStor" value="5">
Number of Base Images <input type="number" name="baseImg" value="3">
<input type="submit" value="Go">
</form>
</div>
</div>
<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +'.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script>
  $(document).foundation();
  </script>	
</body>
</html



 